[submodule "lib/pico-xmodem"]
	path = lib/pico-xmodem
	url = https://github.com/dcooperdalrymple/pico-xmodem.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs
